# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/

# Django
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
media/ # Seus arquivos de mídia (uploads) - eles serão gerenciados pelo Docker volume
staticfiles/ # Seus arquivos estáticos coletados - eles serão gerenciados pelo Docker volume
.env # O MAIS IMPORTANTE: Contém informações sensíveis como senhas e chaves secretas!
/local_settings.py # Se você usa um arquivo de configurações local (não criamos, mas é boa prática)

# IDEs
.vscode/ # Configurações do VS Code
.idea/ # Configurações do PyCharm/IntelliJ
*.iml

# Sistema Operacional
.DS_Store # macOS
Thumbs.db # Windows